{% extends 'main/base.html' %}
{% load static %}

{% block content %}
<div class="image-container">
    <img src="{% static 'main/bg-img.jpg' %}" alt="Mountain View">
    <div class="overlay">
        <div class="subtitle-container">
            <svg width="74" height="4" viewBox="0 0 74 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.728883 3.38V0.936H15.2889V3.38H0.728883ZM15.2269 3.38V0.936H29.7869V3.38H15.2269ZM29.725 3.38V0.936H44.285V3.38H29.725ZM44.223 3.38V0.936H58.783V3.38H44.223ZM58.7211 3.38V0.936H73.2811V3.38H58.7211Z" fill="#FFFFFF"/>
            </svg>

            <p class="subtitle">Красота в естественности</p>
        </div>
        <h1>УЛАН-УДЭ <span id="heart" class="heart">
            <svg width="90" height="90" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M12 21.35l-1.45-1.32C5.4 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41 0.81 4.5 2.09C13.09 3.81 14.76 3 16.5 3 19.58 3 22 5.42 22 8.5c0 3.78-3.4 6.86-8.55 11.54L12 21.35z" stroke="#335D2D" stroke-width="2"/>
            </svg>
        </span></h1>
    </div>
</div>

<!-- Новый блок: Культура и традиции -->
<div class="content-block">
    <div class="image-text-container">
        <img src="{% static 'main/traditions.png' %}" alt="Culture and Tradition">
        <div class="text-container">
            <div class="heading">
                <svg width="74" height="4" viewBox="0 0 74 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.728883 3.38V0.936H15.2889V3.38H0.728883ZM15.2269 3.38V0.936H29.7869V3.38H15.2269ZM29.725 3.38V0.936H44.285V3.38H29.725ZM44.223 3.38V0.936H58.783V3.38H44.223ZM58.7211 3.38V0.936H73.2811V3.38H58.7211Z" fill="#335D2D"/>
                </svg>
                <h2 class="text-h2">Культура и традиции</h2>
            </div>
            <p><strong>Чем примечателен город?</strong> <strong style="font-size: 1.2rem">Улан-Удэ, столица Республики Бурятия, впечатляет своим сочетанием современных зданий и древних буддийских храмов. Этот город является одним из самых уникальных и культурно насыщенных мест России, с достопримечательностями, такими как Иволгинский дацан и памятник Гэсэру.</strong></p>
        </div>
    </div>
</div>

<!-- Вставка новой фотографии -->
<div class="wide-image-container">
    <img src="{% static 'main/news-image.png' %}" alt="Yokohama Ferris Wheel">
</div>

<!-- Новый блок: Искусство и кино -->
<div class="content-block">
    <div class="image-text-container">
         <img src="{% static 'main/arts.png' %}" alt="Art and Cinema">
        <div class="text-container">
            <div class="heading">
                <svg width="74" height="4" viewBox="0 0 74 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0.728883 3.38V0.936H15.2889V3.38H0.728883ZM15.2269 3.38V0.936H29.7869V3.38H15.2269ZM29.725 3.38V0.936H44.285V3.38H29.725ZM44.223 3.38V0.936H58.783V3.38H44.223ZM58.7211 3.38V0.936H73.2811V3.38H58.7211Z" fill="#335D2D"/>
                </svg>

                <h2 class="text-h2"><h2>Искусство жизни</h2></h2>
            </div>
            <p><strong>Почему именно Улан-Удэ?</strong> <strong style="font-size: 1.2rem"> Улан-Удэ – город, где традиции гармонично переплетаются с современными инновациями. Искусство и культура Улан-Удэ поражают своей глубиной и разнообразием. Местные фестивали и культурные мероприятия предоставляют уникальную возможность узнать больше о культуре этого удивительного региона.</strong></p>
        </div>
    </div>
</div>

<div class="separator">
    <svg width="1441" height="22" viewBox="0 0 1441 22" fill="none" xmlns="http://www.w3.org/2000/svg">
        <rect width="1441" height="22" rx="5" fill="#B28B47"/>
    </svg>
</div>

<!-- Новый блок: Основные достопримечательности -->
<div class="attractions-block">
    <h2>Основные достопримечательности</h2>
    <div class="attractions-container">
        <div class="attraction">
            <img src="{% static 'main/attraction1.png' %}" alt="Дацан «Ринпоче Багша»">
            <h3>Дацан «Ринпоче Багша»</h3>
            <p>Дацаном у российских бурят называют монастыри, а один из самых известных — это Ринпоче Багша. Название переводится с тибетского как «драгоценный учитель», что отражает и другое назначение дацана — университет. Здесь регулярно проводятся занятия для всех, кто хочет побольше узнать о буддизме, его обычаях и традициях. Ринпоче Багша не имеет за своими плечами многовековой истории, так как комплекс был построен в начале двухтысячных.</p>
        </div>
        <div class="attraction">
            <img src="{% static 'main/attraction2.png' %}" alt="Площадь Советов и памятник Ленину">
            <h3>Площадь Советов и памятник Ленину</h3>
            <p>История этой площади началась примерно в середине XVIII века, когда Улан-Удэ был известен как Верхнеудинск. В 1741 здесь заложили Свято-Одигитриевский собор — первое каменное здание в городе, от которого продолжилась застройка площади. В своём современном виде площадь Советов сформировалась в прошлом столетии, когда здесь были возведены театр, Дом Советов, Дом радио, кинотеатр «Прогресс», здание Геологоуправления и ряд других построек.</p>
        </div>
        <div class="attraction">
            <img src="{% static 'main/attraction3.png' %}" alt="«Арбат» (улица Ленина)">
            <h3>«Арбат» (улица Ленина)</h3>
            <p>Улицу Ленина в Улан-Удэ не зря называют «Арбатом», ведь здесь есть всё необходимое, что должно быть на главной туристической улице города. Именно здесь находится историческая часть Улан-Удэ, богатая старинной архитектурой, музеями и памятниками. В изобилии здесь сувенирные лавки и разнообразные кафе и рестораны, где подают блюда национальной бурятской кухни.</p>
        </div>
        <div class="attraction">
            <img src="{% static 'main/attraction4.png' %}" alt="Бурятский театр оперы и балета">
            <h3>Бурятский театр оперы и балета</h3>
            <p>Театры в Бурятии появились намного позже, чем в остальной России, а периодом их активного развития принято считать первую половину XX века. Театр оперы и балета — это один из старейших коллективов, начало которому было положено в 1929 году после создания театральной студии. В 1952, когда звание театра уже давно закрепилось официально, появилось и собственное здание, построенное по проекту архитектора А. Н. Фёдорова.</p>
        </div>
    </div>
</div>

<!-- Новый блок: Отзывы -->
<div class="content-block reviews">
    <div class="subtitle-container">
            <svg width="74" height="4" viewBox="0 0 74 4" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M0.728883 3.38V0.936H15.2889V3.38H0.728883ZM15.2269 3.38V0.936H29.7869V3.38H15.2269ZM29.725 3.38V0.936H44.285V3.38H29.725ZM44.223 3.38V0.936H58.783V3.38H44.223ZM58.7211 3.38V0.936H73.2811V3.38H58.7211Z" fill="white"/>
            </svg>
            <p class="subtitle">Были в Улан-Удэ? Оставьте отзыв!</p>
    </div>
</div>

<!-- Новый блок: Отзывы -->
<div class="reviews-block">
    <form id="review-form">
        <div class="input-group">
            <textarea placeholder="Ваш отзыв" id="review" required></textarea>
            <button type="submit" id="submit-btn">Отправить</button>
        </div>
    </form>
</div>

<!-- Модальное окно -->
<div id="modal" class="modal">
    <div id="login-form" class="modal-content">
        <span class="close">&times;</span>
        <h2>Вход</h2>
        <label for="email">Почта</label>
        <input type="text" id="email" name="email">
        <label for="password">Пароль</label>
        <input type="password" id="password" name="password">
        <button id="login-button">Войти</button>
        <p>Нет аккаунта? <a href="#" id="show-register">Зарегистрируйтесь!</a></p>
    </div>
    <div id="register-form" class="modal-content">
        <span class="close">&times;</span>
        <h2>Регистрация</h2>
        <label for="name">ФИО</label>
        <input type="text" id="name" name="name">
        <label for="email">Почта</label>
        <input type="text" id="register-email" name="email">
        <label for="password">Пароль</label>
        <input type="password" id="register-password" name="password">
        <label for="confirm-password">Повторите пароль</label>
        <input type="password" id="confirm-password" name="confirm-password">
        <button id="register-button">Зарегистрироваться</button>
        <p>Уже есть аккаунт? <a href="#" id="show-login">Войдите!</a></p>
    </div>
    <div id="review-modal-content" class="modal-content">
        <span class="close">&times;</span>
        <h2>Ваш отзыв отправлен!</h2>
        <p>Спасибо за ваш отзыв. Он будет опубликован после проверки.</p>
    </div>
    <div id="like-modal-content" class="modal-content">
        <span class="close">&times;</span>
        <h2>Спасибо за обратную связь!</h2>
        <p>Нам важно ваше мнение.</p>
    </div>
</div>

<!-- Блок со всеми отзывами -->
<div class="reviews-list">
    <h2>Остальные отзывы</h2>
    <div id="reviews-container">
        <!-- Отзывы будут добавлены сюда через JavaScript -->
    </div>
</div>

{% endblock %}
